<h1>Search!</h1>
<% @stores.each do |store| %>
  <%= store.store_id %>
  <%= store.store_type %>
  <%= store.name %>
  <%= store.address %>
  <%= store.city %>
  <%= store. distance %>
  <br>
<% end %>
